* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  background: #D5CABE url("../images/gaming-pattern.png"); /* Background pattern from Subtle Patterns */
}
.score-panel {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  width: 505px;
  border-radius: 5px;
  border: 1px solid #EDEDED;
  background: #fff;
}
.modal-bc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
text-align: center;
background: rgba(255, 255, 255, 0.8);
width: 450px;
height: 450px;
border-radius: 8px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}

.hidden {
  display: none;
}

h1 {
  margin: 15px 0;
}
h4, h3, p {
  width: 450px;
  margin: 10px 0;
}
.lives {
  width: 100%;
  padding: 0;
  margin: 0;
}
.lives li {
    list-style: none;
    display: inline-block;
}
.lives img {
  width: 30px;
}
canvas {
 margin-top: -40px;
}
